.git
.gitignore
**/.DS_Store
**/node_modules
**/bin
**/obj
**/*.log
**/*.tmp
**/*.swp
**/*.swo
**/*.patch
**/*.diff
**/.vscode
**/.idea
**/.fleet
**/.history
**/.cache
**/.pytest_cache
**/dist
**/build
**/coverage
**/.venv
**/venv
**/__pycache__
**/*.md
**/*.ps1
docs
configs

